:root{
    --color-grey: #717182;
    --color-dark-green: #187900;
    --color-light-green: #008f88;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.logo{
    color: var(--color-dark-green);
    font-weight: 600;
    font-size: 16px;
    line-height: 24.5px;
}

.header-container{
    border-bottom: 0.8px solid #0000001a;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 530px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav{
    display: none;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 28px;
}

.nav ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    margin: 42px 0;
}

.left-content .heading{
    font-weight: 700;
    font-size: 25.35px;
    line-height: 32px;
    margin-bottom: 22px;
    text-align: center;
    color: var(--color-dark-green);
}

.left-content .paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-grey);
}

.left-content .get-started-button{
    background-color: var(--color-dark-green);
    color: white;
    border-radius: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.5px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.hero-image{
    width: 100%;
    border-radius: 14px;
}

.section-two{
    padding: 55px 0;
}

.section-two .section-heading{
    font-weight: 700;
    font-size: 20.35px;
    line-height: 28px;
    margin-bottom: 16px;
    text-align: center;
    color: var(--color-dark-green);
    
}

.section-two .section-parahraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 44px;
    text-align: center;
    color: var(--color-grey);

}

.background-grey{
    background: #ECEEF233;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 28px
}

.card{
    background-color: white;
    border-radius: 13px;
    box-shadow: 0px 4px 6px -4px #0000001A, 0px 10px 15px -3px #0000001A;
    padding: 30px;
    flex-direction: column;
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.card-heading{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--color-light-green);

}

.card-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: var(--color-grey);


}

@media(min-width:1200px){
    .container{
        padding-right: 15px;
        padding-left: 15px;
        max-width: 1064px;
    }
    .nav{
        display: block;
    }
    .section-one{
        margin:70px 0;
        flex-direction: row;
    }
    .left-content{
        max-width: 480px;
    }
    .left-content .heading{
    font-weight: 700;
    font-size: 25.35px;
    line-height: 32px;
    
    text-align: center;
    
    }

    .left-content .paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    
    text-align: center;
    }

.left-content .get-started-button{
   
    font-size: 14px;
   
    text-align: left;
   
    margin: 0 auto;
}
   

.hero-image{
    width: 100%;
    border-radius: 14px;
    height: 300px;
 }
.hero-image{
    width: 100%;
    border-radius: 14px;
}

.section-two{
    padding: 84px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two .section-heading{
    font-weight: 700;
    font-size: 30.35px;
    line-height: 28px;
    max-width: 580px;
    
}

.section-two .section-parahraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    max-width: 580px;

}



.cards{

    flex-direction: row;
    
}